/* 데스크탑 */
.app-member {
  width: 100%;
}

.login-heading, .login-text {
  color: var(--theme-bright3);
  text-align: center;
  margin: 0;
}

.login-heading{
  font-size: 2em;
  padding: 2em 0.5em 0.5em;
  font-weight: 100;
}

.login-text[lang='en']{
  font-size: 1.1em;
}

.login-text {
  font-size: 0.7em;
  line-height: 1.5;
}

.login-form {
  background-color: white;
  max-width: 540px;
  margin: 100px auto 30px;
}

.login-form span[role="alert"]{
  display:block;
}

.user-login input, .user-password input {
  
}



@media all and (max-width: 767px) {
/* 모바일 */
.login-section {
  background: url(../images/coffee-mobile.jpg); 
}


}

@media all and (min-width: 768px){

.login-section {
  background: url(../images/coffee-desktop.jpg) no-repeat 50% 0;
}

}